### Solid Waste Engineering 2018
#### Semester project
#### Testing the probability of garbage

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import re
import os
from scipy.stats import norm
import scipy.stats
import statsmodels.api as sm
import requests
import json

### This is all the daily totals in the database:

In [2]:
url = "http://mwshovel.pythonanywhere.com/dirt/daily-total/Lac-LÃ©man/?format=json"
data = requests.get(url).json()

In [3]:
this_data = pd.DataFrame(data)

In [4]:
this_data["pcs_m"]=this_data.total / this_data.length

In [5]:
this_data.columns

Index(['date', 'length', 'location', 'total', 'pcs_m'], dtype='object')

### This is just the record to Tiger-duck-beach
#### extracted from the data frame

In [6]:
tigerDuck = this_data[this_data.location == "Tiger-duck-beach"]

In [7]:
tigerDuck

           date  length          location  total      pcs_m
146  2018-10-16      18  Tiger-duck-beach   1387  77.055556

### This is the object totals for Tiger-duck-beach

In [8]:
urlx = "http://mwshovel.pythonanywhere.com/dirt/codes/Tiger-duck-beach/?format=json"
datax = requests.get(urlx).json()

In [9]:
tiger_luck_code = pd.DataFrame(datax)

In [10]:
tiger_luck_code[:5]

,code_id,date,length,location_id,owner,project_id,quantity
0,G200,2018-10-16,18,Tiger-duck-beach,mwshovel,tiger-duck,51
1,G178,2018-10-16,18,Tiger-duck-beach,mwshovel,tiger-duck,9
2,G70,2018-10-16,18,Tiger-duck-beach,mwshovel,tiger-duck,4
3,G28,2018-10-16,18,Tiger-duck-beach,mwshovel,tiger-duck,1
4,G34,2018-10-16,18,Tiger-duck-beach,mwshovel,tiger-duck,4